body {
    background-color: #63000c;
    }

.main-div {
    border-radius: 15px;
    height: 32rem;
    padding: 3rem;
}

.btn {
    width: 16rem;
    height: 5rem;
    margin-top: 10px;
    margin-right: 5px;
    background-color: #DAA520;
    border: none;
}