body {
    background-color: #efefef;
}

.jumbotron {
    background-color: #efefef;
    font-family: 'Anton', sans-serif;
}

#subwrapper {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.btn {
    width: 100px;
}